.builder-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background: #222;
  color: #f1f1f1;

  /* &.mode-insert {
    background: #008ec2;
    color: #fff;
  }

  &.mode-move {
    background: #dc3232;
    color: #fff;
  }

  &.mode-preview {
    background: #ffb900;
    color: #000;
  } */

  &__mode {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__buttons {
    // float: right;

    button {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
