@import "~@fortawesome/fontawesome-free/css/all.min.css";

#builder {
  background: #ccc;
  min-height: 200px;
  width: 100%;

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .bg {
    &-blue {
      background-color: #0085ba;
    }

    &-gray {
      background-color: #f7f7f7;
    }

    &-green {
      background-color: #46b450;
    }

    &-yellow {
      background-color: #ffb900;
    }

    &-red {
      background-color: #dc3232;
    }
  }
}
