@import "~@fortawesome/fontawesome-free/css/all.min.css";

.wplfb {
  .bg {
    &-blue {
      background-color: #0085ba;
    }

    &-gray {
      background-color: #f7f7f7;
    }

    &-green {
      background-color: #46b450;
    }

    &-yellow {
      background-color: #ffb900;
    }

    &-red {
      background-color: #dc3232;
    }
  }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  &#builder {
    background: #ccc;
    min-height: 200px;
    width: 100%;
  }
}

#wplfb_form_metabox {
  display: none;
}

#wplfb_field_options {
  label {
    display: block;
    margin-bottom: 1rem;

    strong {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    min-height: 150px;
  }

  code {
    display: block;
  }

  section {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;

    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  ul {
    padding: 1rem 2rem;
    list-style: disc;
  }
}
