#wplfb_form_metabox .inside {
  padding: 0;
  margin: 0;
}

.work-area {
  padding: 1.5rem 1rem;
  padding-bottom: 0.5rem;
  transition: 0.8s ease;
  position: relative;

  .child-container {
    padding: 20px;
    background-color: #f7f7f7;
    color: #222;


    &:before {
      content: 'Child fields will be placed here!';
      color: #222;
    }
  }

  &.wplfb-ma-wrapper {
    .wplfb-ma-move-here:first-child {
      margin-top: -1rem;
      margin-bottom: 0.5rem;
    }

    .wplfb-field {
      // margin-top: 46px;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  // move anywher functionality
  .wplfb-ma {
    &-wrapper {
      // padding-top: 38px;
    }

    &-move-here, &-move-here-wrapper {
      display: block;
      // position: absolute;
      // margin: 1rem 0;
      // margin-bottom: 2rem;
      z-index: 999;
    }

    &-movesource {
      opacity: 0.5;
    }

    &-movetarget {
      opacity: 0.75;
    }
  }


  .controls {
    display: flex;

    @media (max-width: 480px) {
      display: block;

      > * {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .wplfb-button-group {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .move-under {
      border-radius: 0.25rem;
      margin-right: 1rem;
      line-height: 30px;
      height: 30px;
      color: #222;
      padding: 0 12px 2px;

      .wplfb-icon {
        margin-right: 10px;
      }
    }

  }
}

.wplfb-attribute-customization {
  label {
    margin-bottom: 1rem;
    display: block;
  }

  strong {
    display: block;
    margin-bottom: 0.5rem;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input {
    display: block;

    &[readonly] {
      cursor: not-allowed;
      background: #ccc;
      opacity: 0.7;
    }

    &[type="checkbox"] {
      // display: inline-bl
    }
  }
}

.wplfb-icon {
  margin: auto 5px;
}

.wplfb-field {
  border: 1px solid #222;
  margin-top: 1rem;
  // margin-top: 46px;
  transition: 0.8s ease;

  &.wplfb-ma-show-controls {
    margin-top: 46px;
  }

  &:first-of-type {
    margin-top: 0;
  }

  .flexcenter {
    width: 100%;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #f1f1f1;
    padding: 0.25rem 0.5rem;
    padding: 6px 4px;

    h4 {
      margin: 0;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: 0.5rem;
    }

    .wplfb-field-name, .wplfb-field-identifier, .wplfb-field-key {
      position: relative;
      display: inline-block;
      padding-top: 0.75rem;
      min-width: 8rem;
      vertical-align: middle;

      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        font-size: 0.75rem;
        content: attr(data-label);
      }
    }

    .wplfb-field-key {
      opacity: 0.8;
      float: right;
    }

    @media (max-width: 769px) {
      // flex-flow: column wrap;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: none;

      h4 {
        margin-bottom: 1rem;
      }
    }
  }

  section {
    padding: 0.5rem;
    min-height: 3rem;
    background: #f1f1f1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
  }
}

.attribute-customization {
  label {
    display: block;
  }
}

select[readonly] {
  cursor: normal;
  pointer-events: none;
  opacity: 0.7;
}

.ReactModal__Overlay--after-open {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.1);
}

.modal-header {
  overflow: hidden;

  h2 {
    float: left;
    margin: 0;
    padding: 0;
  }

  button {
    float: right;
  }
}

.modal-content {
  .field-target {
    overflow: hidden;

    h4 {
      margin: 0;
      padding: 0;
    }

    label {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }

    select {
      width: 100%;
    }
  }
}
