#wplfb_form_metabox .inside {
  padding: 0;
  margin: 0;
}

.work-area {
  padding: 1.5rem 1rem;

  .child-container {
    padding: 20px;
    background-color: #f7f7f7;
    color: #222;


    &:before {
      content: 'Child fields will be placed here!';
      color: #222;
    }
  }

  .controls {
    display: flex;

    .wplfb-button-group {
      margin-right: 1rem;
    }

    .move-under {
      border-radius: 0.25rem;
      margin-right: 1rem;
      line-height: 30px;
      height: 30px;
      color: #222;
      padding: 0 12px 2px;

      .wplfb-icon {
        margin-right: 10px;
      }
    }
  }
}

.wplfb-icon {
  margin: auto 5px;
}

.wplfb-field {
  border: 1px solid #222;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #f1f1f1;
    padding: 0.25rem 0.5rem;
    padding: 6px 4px;

    h4 {
      margin: 0;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: 0.5rem;
    }


    .wplfb-field-name, .wplfb-field-identifier, .wplfb-field-key {
      position: relative;
      display: inline-block;
      padding-top: 0.75rem;
      min-width: 8rem;
      vertical-align: middle;

      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        font-size: 0.75rem;
      }
    }

    .wplfb-field-name {
      &:before {
        content: 'Input name';
      }

    }

    .wplfb-field-identifier {
      &:before {
        content: 'Field ID';
      }
    }

    .wplfb-field-key {
      opacity: 0.8;
      float: right;
      // font-size: 0.8em;

      &:before {
        content: 'Field key';
      }
    }
  }

  section {
    padding: 0.5rem;
    background: #f1f1f1;
  }
}

.attribute-customization {
  label {
    display: block;
  }
}

select[readonly] {
  cursor: normal;
  pointer-events: none;
  opacity: 0.7;
}

.ReactModal__Overlay--after-open {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.1);
}

.modal-header {
  overflow: hidden;

  h2 {
    float: left;
    margin: 0;
    padding: 0;
  }

  button {
    float: right;
  }
}

.modal-content {
  .field-target {
    overflow: hidden;

    h4 {
      margin: 0;
      padding: 0;
    }

    label {
      float: left;
    }
  }
}
