.child-container {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.attribute-customization {
  label {
    display: block;
  }
}

select[readonly] {
  cursor: normal;
  pointer-events: none;
  opacity: 0.7;
}

.ReactModal__Overlay--after-open {
  z-index: 99999;
}

.modal-header {
  overflow: hidden;

  h2 {
    float: left;
    margin: 0;
    padding: 0;
  }

  button {
    float: right;
  }
}

.modal-content {
  .field-target {
    overflow: hidden;

    h4 {
      margin: 0;
      padding: 0;
    }

    label {
      float: left;
    }
  }
}
